
/*
Esto es un comentario en CSS
*/

*{
  box-sizing: border-box;
}


@media screen and (max-width: 800px) {
  .left, .main,  {
    width: 100%;
  }
}

.left {
  background-color: #2196F3;
  padding: 20px;
  float: left;
  width: 25%;
  height: fit-content;
}

.main {
  background-color: pink;
  padding: 1%;
  float: right;
  width: 75%;
  height: fit-content;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  width: 25%;
  background-color: hotpink;
  /*border: 1px solid 1555; */
  height: 100%;
  position: fixed; 
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

li a:hover {
  background-color: mediumvioletred;
  color: white;
}

li:last-child {
  border-bottom: none;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.foto-circular {
  border-radius: 50%;
  border: 5px solid mediumvioletred;
  margin: auto;
  display: block;
}

.contenedor-boton {
  color: powderblue;
  position: absolute; bottom: 10%;
}

h1 {
  font-family: Roboto;
	text-align: center;
	font-size: 18px;
}

h2 {
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
}

h3 {
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
}

p {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    line-height: initial;
    font-size: small;
    text-align: justify;
    line-height: 12px;
}

li {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: initial;
    font-size: 14px;
} 